<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group chat</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/core.js"></script>
</head>
<body>
    <div id="container">
        <h1>Conversation board</h1>
        <div id="chat">

        </div>

        <form action="">
            <input type="text" id="message" name="message"
            placeholder="enter msg here">
            <input type="submit" name="send">
        </form>
    </div>
</body>
</html>